/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #ccc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
     box-sizing: border-box;
   }

body{
  display: block;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
}

a{
  color: #000;
}

img{
  display: block;
  margin: 0 auto;
}

h1,h2,h3,h4{
  text-align: center;
}

section{
  display: block;
  margin: 0 auto;
}

iframe{
  display: block;
  width: 80%;
  height: 20em;
  margin: 3em auto;

}

.col30{
  display: inline-block;
  width: 30%;
}

.col14{
  float: left;
  width: 20%;
  text-align: center;
}

.col50{
  float: left;
  width: 48%;

}

.icon{
  display: inline-block;
  padding: 2em;
  margin: 2em;
  width: 16em;
  font-family: monospace;
}

.icon  img{
  width: 4em;
}

.main-nav{
  display: none;
}

section{
  clear: both;
}

.section-line{
  display: block;
  margin: 2em auto;
  content: "";
  max-width: 40em;
  height: .08em;
  background-color: #000;

}

.logo-header{
  width: 35em;
  margin-top: 1em;
  padding-top: 2em;
}

ul{
  list-style: none;
}

li{
  padding: 2em 0;
}



.top-nav a{
  font-size: 1.25em;
  font-family: monospace;
  text-decoration: none;
}

.top-nav a:hover{
  text-decoration: underline;
  text-decoration-color: #c11d00;
}

.copy{
  max-width: 60em;
  margin: 2em auto;
  padding: 2em 0;

}

.copy p{
  font-family: monospace;
  font-size: 1.25em;
  line-height: 1.75;
}

.hero-img{
  width: 100%;
}

.gallery{
  overflow: auto;
  display: block;
  position: relative;
  margin: 2em;
  padding: 2em;
  text-align: center;
}

.cabin-card{
  position: relative;
  overflow: auto;
  margin: 1em;
  text-align: center;
  border: 1px solid #000;
  font-family: monospace;
  max-width: 420px;
}

.cabin-card h4{
  font-size: 1.25em;

}

.price-container{
  position: relative;
}

.cabin-card img{
  text-align: center;
  overflow: hidden;
  padding: 1em;
  max-width: 400px;
}

.cabin-card a{
  margin-bottom: 1em;
  padding-bottom: 1em;

}

.price{
  position: absolute;
  top: 1.75em;
  right: 3em;
  padding: .5em;
  background-color: #c11d00;
  color: #fff;
  font-size: 1.1em;
}


/*----------*newletter signup begin-------------------*/

.newsletter{
  display: none;
  position: relative;
  background-color: #fff;
  color: #000;
}

.newsletter-signup{
  margin-top: 2em;
  padding: 3em 4em;
  text-align:center;
  font-family: monospace;
  font-size: 1.25em;

}

.newsletter a{
  color: #555;
  text-decoration: none;
}

.newsletter .close-icon{
  font-style: normal;
  position: absolute;
  top: 1.75rem;
  right: 1.75em;
  line-height: 1;
  color: #000;
  cursor: pointer;
}

.nav-open{
  overflow: hidden;
}

.nav-open .newsletter{
  display: block;
  position: absolute;
  bottom: 15%;
  left: 30%;
  border: 1px solid #000;
  width: 45em;
  min-height: 25em;
  background-color: #fff;
}

.signup-section{
  display: block;
  position: absolute;
  left: 2em;
  bottom: 2em;
  margin: 0 auto;
}
input[type=text] {
    padding: 1em 1.5em;
    margin: .5em 0;
    box-sizing: border-box;
}

input[type=submit] {
  background-color: #000;
  margin-left: 1em;
  padding: .75em;
  color: #fff;
  font-family: monospace;
  font-size: 1.5;
  border: none;
}

/*End newsletter signup */

blockquote{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 1em auto;
  padding: 1em 3em;
  max-width: 40em;
  line-height: 2;
  font-style: italic;
  font-size: 1.5em;
}

.quote-author{
  font-style: normal;
  font-size: 1.25rem;
  text-align: right;

}

.secondary-photo{
  padding: 2em;
}
.contact-container{
  position: relative;
  margin: 3em auto;
  overflow: auto;
}
.contact{
  overflow:auto;
  margin: 8em 2em;
  padding: 2em;
  border-left: 1px solid #000;
  font-family: monospace;

}


.contact li{
  text-align: left;
  padding: 0;
  line-height: 1.25;
}

footer{
  background-color: #000;
  color: white;
  width: 100%;
  padding: 4em;
  text-align: center;
  font-size: .75em;
}

footer a{
  color: #fff;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
